%nav#sidebar
  .sidebar-header
    %h3 Raye7
  %ul.list-unstyled.components
    -if policy(Trip).general?
      %li
        %a{:href => "/trips"}
          %span
            %i.fa.fa-plane-departure
          %span
            Trips
    -if policy(Pickup).general?
      %li
        %a{:href => "/pickups"}
          %span
            %i.fa.fa-map-marker-alt
          %span
            Pickup Locations
    %li
      %a{:href => "/places"}
        %span
          %i.fa.fa-map-marked-alt
        %span
          Places
