%nav#sidebar
  .sidebar-header
    %h3 Raye7
  %ul.list-unstyled.components
    %li
      %a{:href => "#"}
        %span
          %i.far.fa-user
        %span
          Users
    %li
      %a{:href => "#"}
        %span
          %i.fa.fa-plane-departure
        %span
          Trips
    %li
      %a{:href => "#"}
        %span
          %i.fa.fa-map-marker-alt
        %span
          Pickup Locations
    %li
      %a{:href => "#"}
        %span
          %i.fa.fa-map-marked-alt
        %span
          Places
